<div class="col-12">
  <div class="row" >
    <div style="width:auto" class="col-sm-6 col-lg-3" *ngFor="let recipe of recipes;index as i" >
      <mat-card class="cardWithShadow productcard overflow-hidden">
        <mat-card class="image-card">
          <a routerLink="/recipes/{{recipe.id}}">
          <img 
            src="https://localhost:3000/images/{{recipe.imageName }}"
            alt="Image" class="image">
          </a>
            <div *ngIf="!recipe.inFavourites">
              <div class="overlay"></div>
              <button mat-icon-button class="undo-button" (click)="undo(i)">
                <mat-icon>undo</mat-icon>
              </button>
            </div>
          </mat-card>

        <mat-card-content class="p-b-24 p-t-12 position-relative">
          <button
            (click)="removeFromFavs(i)"
            *ngIf="recipe.inFavourites"
            class="cart-btn"
            color="primary"
            mat-mini-fab
            matTooltip="Remove from Favourite"
          >
            <i class="pi pi-minus-circle"  style="font-size: 1.5rem;margin-top:6px"></i>
          </button>
          
          <mat-card-title class="mat-headline-2 f-s-16 m-b-4">
            {{ recipe.name }}
          </mat-card-title>
          
          <div class="d-flex align-items-center justify-content-between">
            <div class="m-l-auto d-flex gap-4">
              <span
                ><i-tabler name="star" class="fill-warning icon-18"></i-tabler
              ></span>
              <span
                ><i-tabler name="star" class="fill-warning icon-18"></i-tabler
              ></span>
              <span
                ><i-tabler name="star" class="fill-warning icon-18"></i-tabler
              ></span>
              <span
                ><i-tabler name="star" class="fill-warning icon-18"></i-tabler
              ></span>
              <span
                ><i-tabler name="star" class="fill-warning icon-18"></i-tabler
              ></span>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
  
<app-nothing-here-yet *ngIf="recipes.length === 0"></app-nothing-here-yet>