<mat-toolbar class="topbar">
  <!-- Mobile Menu -->
  <button mat-icon-button (click)="toggleMobileNav.emit()" *ngIf="true">
    <i-tabler name="menu-2" class="icon-20 d-flex"></i-tabler>
  </button>

  <a href="/recipes">
    <button mat-icon-button class="d-flex">
          <img src="../assets/images/logos/stolen-logo.png" height="40" class="logo">
          <div style="color:#638CFF;text-decoration: none; margin-left:5px;font:bold">RecipeRealm</div> 
      </button>
    </a>
  <!-- --------------------------------------------------------------- -->

  <!-- --------------------------------------------------------------- -->
  <!-- Notification Dropdown -->
  <!-- --------------------------------------------------------------- -->

  <span class="flex-1-auto"></span>

  <!-- --------------------------------------------------------------- -->
  <!-- profile Dropdown -->
  <!-- --------------------------------------------------------------- -->

  <div *ngIf="isLoggedIn(); else loggedOut">

    <button mat-icon-button aria-label="Notifications">
      <i-tabler
        class="d-flex"
        name="bell"
        matBadge="3"
        matBadgeColor="primary"
      ></i-tabler>
    </button>
  
    <button
      mat-icon-button
      [matMenuTriggerFor]="profilemenu"
      aria-label="Notifications"
    >
    <img
      src="/assets/images/profile/user-x.png"
    />
    </button>
    <mat-menu #profilemenu="matMenu" class="topbar-dd cardWithShadow">
      <button mat-menu-item>
        <mat-icon class="d-flex align-items-center"
          ><i-tabler name="user" class="icon-18 d-flex"></i-tabler></mat-icon
        >My Profile
      </button>
      <button mat-menu-item>
        <mat-icon class="d-flex align-items-center"
          ><i-tabler name="mail" class="icon-18 d-flex"></i-tabler></mat-icon
        >My Account
      </button>
      <button mat-menu-item>
        <mat-icon class="d-flex align-items-center"
          ><i-tabler
            name="list-check"
            class="icon-18 d-flex"
          ></i-tabler></mat-icon
        >My Task
      </button>
  
      <div class="p-x-12 m-t-12">
        <a
          [routerLink]="['/account/login']"
          (click)="logout()"
          mat-stroked-button
          color="primary"
          class="w-100"
          >Logout</a
        >
      </div>
    </mat-menu>
  </div>
  
  <ng-template #loggedOut>
    <button mat-flat-button color="primary" routerLink="/account/login">
      Sign In
    </button>
  </ng-template>

</mat-toolbar>
