<mat-toolbar class="topbar">

  <!-- logo  -->
  <a [routerLink]="['recipes']">
    <img src="../assets/images/logos/logox.png" style="width: 150px; height: 50px;" >
  </a>

  <!-- for space between -->
  <span class="flex-1-auto"></span>
  
  <!-- search bar -->
  <div class="search-click">
    <label for="search-input" class="search-icon">
      <i-tabler name="search" class="icon-20 d-flex"></i-tabler>
    </label>
    <input id="search-input" (keyup.enter)="goToSearch()" [(ngModel)]="searchQuery" type="text" name="search" placeholder="Search here..." />
  </div>

  <div *ngIf="isLoggedIn(); else loggedOut">
  
    <!-- --------------------------------------------------------------- -->
    <!-- Notification Dropdown -->
    <!-- --------------------------------------------------------------- -->
    
    <button 
      id="notification-open-btn"
      mat-icon-button 
      aria-label="Notifications"
      (click)="toggleNotification()"
    >
      <i-tabler
        class="d-flex"
        name="bell"
        matBadge="{{numOfNewNotifications < 9 ? numOfNewNotifications : '9+'  }}"
        matBadgeColor="primary"
      ></i-tabler>

    </button>

    <!-- --------------------------------------------------------------- -->
    <!-- profile Dropdown -->
    <!-- --------------------------------------------------------------- -->
    <button
      mat-icon-button
      [matMenuTriggerFor]="profilemenu"
      aria-label="Notifications"
    >
      <i-tabler
        class="d-flex"
        name="user-circle"
        matBadgeColor="primary">
      </i-tabler>
    </button>
    
    <!-- Notifications list -->
    <div id="notifications" *ngIf="notificationsOpen" class="notifications {{notificationsOpen? 'open' : '' }}" >
      <div style=" width:100%" class=" mdc-menu-surface" >
        <div class="mat-mdc-menu-content mdc-list ">

          <div class="d-flex align-items-center p-x-32 p-y-16 ">
            <h6 class="f-s-16 f-w-600 m-0">Notifications</h6>
            <span  class="m-l-auto">
              <span class="bg-primary text-white p-x-8 p-y-4 f-w-500 rounded f-s-12">{{numOfNewNotifications}} new</span>
            </span>
          </div>
          
          <div class="empty-notifications" *ngIf="notifications.length == 0">
            <h3>
              No new notifications for you today.
            </h3>
          </div>
          
          <div *ngFor="let notification of notifications" class="{{notification.read ? 'read-notification' : 'new-notification'}}">
            <button [ngSwitch]="notification.type" (click)="navigate(notification.recipe.id)" mat-menu-item class="mat-mdc-menu-item mat-mdc-focus-indicator mdc-list-item p-x-32 p-y-16 " >
              
              <div class="n-header">
                <div class="notification-icon">
                  <img width="48" class="rounded-circle" [src]="getIconSrc(notification.type)">
                </div>
                <h5 class="f-s-14 f-w-600 m-0 mat-subtitle-1">
                  {{ getNotificationTitle(notification.type) }}
                  <small class="notification-date">{{ notification.createdAt | date }}</small>
                </h5>
              </div>

              <div class="notification-content">
                {{ getNotificationDescription(notification.type) }}
                <span class="recipe-name">{{ notification.recipe.name }}</span>
              </div>
            
            </button>
          </div>

            <!-- Load more button -->
          <div class="load-more-button" *ngIf="notifications.length < totalCount">
            <button class="btn btn-primary" (click)="loadMoreNotifications()">Load More</button>
          </div>

        </div>
      </div>
    </div>
    
    <mat-menu #profilemenu="matMenu" class="topbar-dd cardWithShadow">

      <button mat-menu-item
        [routerLink]="['recipes/create']"
      >
        <mat-icon class="d-flex align-items-center">
          <i-tabler 
            name="pencil-plus"
            class="icon-18 d-flex">
          </i-tabler>
        </mat-icon>
          Add New Recipe
      </button>

      <button mat-menu-item [routerLink]= "['/account']">
        <mat-icon class="d-flex align-items-center">
          <i-tabler name="user" class="icon-18 d-flex"></i-tabler>
        </mat-icon> My Profile
      </button>
      
      <button mat-menu-item>
        <mat-icon class="d-flex align-items-center">
          <i-tabler name="settings" class="icon-18 d-flex">
          </i-tabler></mat-icon>
          Settings
      </button>

      <div class="p-x-12 m-t-12">
        <a
          (click)="logout()"
          [routerLink]="['/auth/login']"
          mat-stroked-button
          color="primary"
          class="w-100 logout-btn">
          Logout
        </a>
      </div>
    </mat-menu>
  </div>

  <ng-template #loggedOut>
    <button style="margin-left:10px" mat-flat-button color="primary" routerLink="/auth/login">
      Sign In
    </button>
  </ng-template>

</mat-toolbar>
