.form{
  width: 80%;
  margin-left: 10%;
  position: relative;
}

.form .fa-search{
  position: absolute;
  top:20px;
  left: 20px;
  color: #9ca3af;
}

.form span{
  position: absolute;
  right: 17px;
  top: 13px;
  padding: 2px;
  border-left: 1px solid #d1d5db;
}

.left-pan{
  padding-left: 7px;
}

.left-pan i{
 padding-left: 10px;
}

.form-input{

  height: 55px;
  text-indent: 33px;
  border-radius: 10px;
}

.form-input:focus{

  box-shadow: none;
  border:none;
} 

.tr-result {
  transition: background-color 0.3s ease;
}

.tr-result:hover {
  background-color: #b3d4fc;
  cursor: pointer;
}

.tr-result img {
  cursor: pointer;
}

.tr-result img:hover {
  filter: brightness(70%);
}


.tr-result {
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tr-result:hover {
  background-color: #b3d4fc;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.res-table{
  margin-left: 10%;
  border-radius: 10px;
  border-color: black;
}

.recipes-num{
  position: absolute;
}

.recipe-img{
  width: 180px;
}

.p-datatable-footer{
  display: none;
}

.clear-btn{
  cursor: pointer;
}

