<p-table [value]="searchResult"  [tableStyle]="{'width': '80%', 'margin-left':'10%'}" >
  <ng-template pTemplate="caption">
    <div class="form">
      <i class="fa fa-search"></i>
      <input type="text" class="form-control form-input" [(ngModel)]="searchQuery" placeholder="Search recipes..." 
        (input)="searchRecipes()"
      >
      <span class="left-pan" class="clear-btn">
        <i (click)="clear()" class="fa fa-times"></i>
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="body" let-recipe>
    <tr class="tr-result" [routerLink]="['../', recipe.id]">
      <td style="height:30%;width:100px">
        <img src="{{imagesUrl + '/' + recipe.imageName}}" class="shadow-4 recipe-img">
      </td>
      <td>
        {{recipe.name}}
      </td>
    </tr>
  </ng-template>

  <ng-template class="test"  pTemplate="summary" >
    <span class="recipes-num" > Found {{totalRecords}} recipes.</span>
    <p-paginator (onPageChange)="onPageChange($any($event))" [first]="first" [rows]="rows" [totalRecords]="totalRecords" [rowsPerPageOptions]="[8, 16, 32]">
    </p-paginator>
  </ng-template>

</p-table>