.recipe-container {
  padding: 0 120px;
  align-items: center;
  margin: 100px;
  margin-top: 20px;
}
  

.recipe {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 50px;
}
  
h2 {
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.recipe-image{
  border-radius: 10px;
}

.ingredients, .steps {
  margin-bottom: 10px;
}

.ingredient, .step {
  background-color: #f8f8f8;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stepNo{
  padding-bottom: 40px;
  width: 100%;
}

/* :host ::ng-deep .ui-accordion {
  width: 100%;
} */

.p-grid{
  width: 100%;
}

button{
  float: right;
  margin-left: 5px;
}

/* Custom styles for the comment and rating section */
.comment-section {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.star-rating {
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
}

.star-rating:hover {
  color: #f8ce0b; /* Change the color on hover */
}

.rating-label {
  margin-right: 10px;
  font-weight: bold;
  
}

.comment-input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}




.flip-stars {
  align-items: end;
  float: left;
}


.submit-button {
  float: left;
}


.rounded-avatar{
  border-radius: 12px;
}