<div class="recipe-container">

  <div class="recipe">
    <div class="p-grid">

      <div class="p-col-12 p-md-6 p-lg-4">
        <!-- <p-confirmPopup></p-confirmPopup> -->
        <button (click)="deleteRecipe($event)"  mat-flat-button color="danger" label="Delete" class="button-danger">Delete</button>
        <button (click)="editRecipe()"  mat-flat-button color="primary" label="Edit" >Edit</button>
      </div>

      <div class="p-col-12 p-md-6 p-lg-4">
        <h2>{{ recipe.name }}</h2>
      </div>
      <div class="p-col-12 p-md-6 p-lg-4">
        <div class="image-container">
          <img [src]="recipe.imageUrl" alt="Recipe Image" class="recipe-image" />
        </div>
      </div>
      <div class="p-col-12 p-md-6 p-lg-4">
        <div class="recipe-details">
          <div class="category">Category: {{ recipe.category.name }}</div>
          <h3>Ingredients:</h3>
          <ul class="ingredients">
            <li *ngFor="let ingredient of recipe.ingredients">
              <h3>{{ ingredient.description }}</h3>
            </li>
          </ul>
          <h3>Steps:</h3>
          <div class="stepNo" *ngFor="let step of recipe.steps;index as i">
            <!-- <p-panel  header="Step {{i+1}}"> -->
              {{ step.description }}
            <!-- </p-panel> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
