<div class="recipe-container">

  <div class="recipe">
    <div class="p-grid">

      <div class="p-col-12 p-md-6 p-lg-4">
        <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
        <p-button (click)="editRecipe()" styleClass="p-button-raised"  label="Edit" ></p-button>
        <p-button (click)="deleteRecipe()" icon="pi pi-times" label="Delete" styleClass="p-button-raised p-button-danger" class="p-button-danger"></p-button>
      </div>

      <div class="p-col-12 p-md-6 p-lg-4">
        <h2>{{ recipe.name }}</h2>
      </div>
      <div class="p-col-12 p-md-6 p-lg-4">
        <div class="image-container">
          <img src="https://localhost:3000/images/{{recipe.imageUrl}}" alt="Recipe Image" class="recipe-image" width="500" height="400" />
        </div>
      </div>
      <div class="p-col-12 p-md-6 p-lg-4">
        <div class="recipe-details">
          
          <!-- <div class="category">Category: {{ recipe.category.name }}</div> -->
          
          <h3 style="text-align: center;color:#638CFF;margin-top:70px;margin-top:40px" > ingredients </h3>

          <ul class="ingredients">
            <li *ngFor="let ingredient of recipe.ingredients">
              <h4>{{ ingredient.description }}</h4>
            </li>
          </ul>

          <div class="w-100">
          <h3 style="text-align: center;color:#638CFF;margin-top:70px" > Steps</h3>
          <table class="recipe-steps">
            <tbody>
              <tr class="step" *ngFor="let step of recipe.steps; index as i">
                  <div class="container">
                    <td class="step-number">{{ i+1 }}</td>
                    <td class="step-description">{{  step.description }}</td>
                  </div>
                </tr>
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
