<div class="recipe-container">
  <div class="recipe">
    <div class="p-grid">

      <div class="grid">
        <!-- Back button -->
        <button mat-icon-button [routerLink]="['../']" styleClass="p-button-outlined p-button-secondary">
          <i-tabler name="arrow-left" matBadgeColor="primary" style="font-size: 2rem"></i-tabler>
        </button>

        <span class="flex-1-auto"></span>

        <!-- control buttons -->
        <div *ngIf="isRecipeOwner" class="col-offset-8">
          <button mat-icon-button (click)="editRecipe()" icon="pi pi-times" label="Delete" class="p-button-danger">
            <i-tabler name="edit" matBadgeColor="primary" style="font-size: 2rem"></i-tabler>
          </button>
          <button mat-icon-button color="warn" (click)="deleteRecipe()" label="Edit" >
            <i-tabler name="trash-x" matBadgeColor="primary" style="font-size: 2rem"></i-tabler>
          </button>
        </div>
      </div>

      <div class="p-col-12 p-md-6 p-lg-4">
        <h2>{{ recipe.name }}</h2>
      </div>
      
      <div class="p-col-12 p-md-6 p-lg-4">
        <div class="image-container">
          <img src="{{ImagesUrl}}/{{recipe.imageName}}" alt="Recipe Image" class="recipe-image" width="500" height="400" />
        </div>
        By: 
        <span [routerLink]="['/users', recipe.author.userName]" class="user-link">
            {{recipe.author.firstName + ' ' + recipe.author.lastName }} 
        </span>
      </div>
      
      <mat-action-row *ngIf="loggedIn()" class="btn-group" name="fontStyle" aria-label="Font Style">
        
        <p-button (click)="swtichFav()" styleClass="p-button-raised p-button-text" >
          <span  class="pi {{recipe.inFavourites ? 'pi-heart-fill' : 'pi-heart'}}"></span>
        </p-button>

        <p-button (click)="toggleCalendar()" styleClass="p-button-raised p-button-text">
          <span class="pi pi-calendar-plus"></span>
        </p-button>

        <div *ngIf="selectingDate" class="select-date">
          <p-calendar (onSelect)="addToPlan()"  [(ngModel)]="planDate" [inline]="true" [showWeek]="true">
          </p-calendar>
        </div>

        <p-button styleClass="p-button-raised p-button-text" (click)="addToShoppingList()" >
          <span class="pi pi-shopping-cart"></span>
        </p-button>

        <p-button styleClass="p-button-raised p-button-text" (click)="shareRecipe()">
          <span class="pi pi-send"></span>
        </p-button>
      </mat-action-row>


      <div class="p-col-12 p-md-6 p-lg-4">
        <div class="recipe-details">
          
          <!-- <div class="category">Category: {{ recipe.category.name }}</div> -->
          
          <h3 style="text-align: center;color:#638CFF;margin-top:70px;margin-top:40px" > Ingredients </h3>

          <ul class="ingredients">
            <li *ngFor="let ingredient of recipe.ingredients">
              <h4>{{ ingredient.description }}</h4>   
            </li>
          </ul>

          <div class="w-100">
            <h3 style="text-align: center;color:#638CFF;margin-top:70px" > Steps</h3>
            <table class="recipe-steps">
              <tbody>
                <tr class="step" *ngFor="let step of recipe.steps; index as i">
                    <div class="container">
                      <td class="step-number">{{ i+1 }}</td>
                      <td class="step-description">{{  step.description }}</td>
                    </div>
                  </tr>
                </tbody>
            </table>
          </div>
        </div>

        <!-- Similar Recipe Section Begin -->
          <!-- TODO -->
        <!-- Similar Recipe Section End -->


        <!--
        <div class="review-section">
          <h3 class="review-heading">Rates and reviews</h3>
          
           <div class="reviews-container">
            <div *ngFor="let review of recipe.reviews" class="review-card">
              <div class="review-header">
                <img src="https://pub-static.fotor.com/assets/projects/pages/ed2f505cd64d46ffbb43c2b4d65cfaf3/600w/fotor-5965bfe16a014c9f81a074bbe55a0244.jpg"
                  class="avatar" alt="Avatar" />
                <p class="author-name">{{ review.authorName }}</p>
              </div>
              <div class="rating-container">
                <p-rating [disabled]="true" [(ngModel)]="review.rate" [cancel]="false"></p-rating>
              </div>
              <textarea [disabled]="true" [(ngModel)]="review.content" class="comment-input" placeholder="Write your comment here..."></textarea>
            </div>
          </div>
          
          <div class="add-review-container">
            <h3 class="add-review-heading" (click)="reset()">Rate and comment</h3>
            <p-rating [(ngModel)]="rating" [cancel]="false"></p-rating>
            <textarea [(ngModel)]="comment" class="comment-input" placeholder="Write your comment here..."></textarea>
            <button class="submit-button" (click)="addReview()">Submit</button>
          </div>
        </div> -->
    
    </div>
  </div>
</div>
