.recipe-container {
  padding: 0 5%;
  align-items: center;
  margin: 5%;
  margin-top: 20px;
  display: block;
}

.recipe {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 50px;
}
 
.recipe-image{
  border-radius: 10px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

h2 {
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.ingredients, .steps {
  margin-bottom: 10px;
}

.ingredient, .step {
  background-color: #f8f8f8;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stepNo{
  padding-bottom: 40px;
  width: 100%;
}

.recipe-steps {
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px;
  font-size: 20px
}

.step-number {
  width: 40px;
  height: 40px;
  background-color: #638CFF;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
}

.step-description {
  padding-left: 10px;

}

.p-grid{
  width: 100%;
}

.btn-group{
  margin-left: 20px;
}

p-button{
  float: right;
  margin-left: 5px;
}

.select-date{
  position: absolute;
  z-index: 1;
  margin-top: 50px;
  margin-left: 65px;
  overflow: auto;
}

.user-link{
 cursor: pointer;
 color: blue
}
