<div class="recipe-container">
  <div class="recipe">
    <div class="p-grid">

      <div class="grid">
        <!-- Back button -->
        <button mat-icon-button [routerLink]="['../']" styleClass="p-button-outlined p-button-secondary">
          <i-tabler name="arrow-left" matBadgeColor="primary" style="font-size: 2rem"></i-tabler>
        </button>

        <span class="flex-1-auto"></span>

        <!-- control buttons -->
        <div *ngIf="isRecipeOwner" class="col-offset-8">
          <button mat-icon-button (click)="editRecipe()" icon="pi pi-times" class="p-button-danger">
            <i-tabler name="edit" matBadgeColor="primary" style="font-size: 2rem"></i-tabler>
          </button>
          <button mat-icon-button color="warn" (click)="deleteRecipe()" >
            <i-tabler name="trash-x" matBadgeColor="primary" style="font-size: 2rem"></i-tabler>
          </button>
        </div>
      </div>

      <div class="p-col-12 p-md-6 p-lg-4">
        <h2>{{ recipe.name }}</h2> 
      </div>

      <div class="p-col-12 p-md-6 p-lg-4">
        <div class="image-container">
          <div class="star-rating">
            <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let starIndex = index">
              <span>
                <i-tabler [name]="getStarIcon(star)" style="color:#FFBC37" class="icon-24"></i-tabler>
              </span>
            </ng-container>
          </div>
          <img src="{{ImagesUrl}}/{{recipe.imageName}}" alt="Recipe Image" class="recipe-image" width="500" height="400" />
        </div>
        By: 
        <span [routerLink]="['/users', recipe.author.userName]" class="user-link">
          {{recipe.author.firstName + ' ' + recipe.author.lastName }} 
        </span>
      </div>

      <mat-action-row *ngIf="loggedIn()" class="btn-group" name="fontStyle" aria-label="Font Style">
        
        <p-button matTooltip="Add To Favs" matTooltipPosition="below"
         (click)="swtichFav()" styleClass="p-button-raised p-button-text" >
          <span  class="pi {{recipe.inFavourites ? 'pi-heart-fill' : 'pi-heart'}}"></span>
        </p-button>

        <p-button matTooltip="Add To Plans" matTooltipPosition="below"
          (click)="toggleCalendar()" styleClass="p-button-raised p-button-text">
          <span class="pi pi-calendar-plus"></span>
        </p-button>

        <div *ngIf="selectingDate" class="select-date">
          <p-calendar (onSelect)="addToPlan()"  [(ngModel)]="planDate" [inline]="true" [showWeek]="true">
          </p-calendar>
        </div>

        <p-button matTooltip="Add To Shopping Cart" matTooltipPosition="below"
          styleClass="p-button-raised p-button-text" (click)="addToShoppingList()" >
          <span class="pi pi-shopping-cart"></span>
        </p-button>

        <p-button matTooltip="Share" [matMenuTriggerFor]="menu" matTooltipPosition="below"
          styleClass="p-button-raised p-button-text" >
          <span class="pi pi-send"></span>
          <mat-menu #menu="matMenu">
            <!-- only twitter works :O dk why -->
            <!-- <button mat-menu-item (click)="shareRecipe('fb')">Facebook</button> -->
            <!-- <button mat-menu-item (click)="shareRecipe('ig')">Instagram</button> -->
            <button mat-menu-item (click)="shareRecipe('tw')">Twitter</button>
          </mat-menu>        
        </p-button>
      </mat-action-row>


      <div class="p-col-12 p-md-6 p-lg-4" style="margin-bottom: 30px;">
        <div class="recipe-details">
          
          <!-- <div class="category">Category: {{ recipe.category.name }}</div> -->
          
          <h3 style="text-align: center;color:#638CFF;margin-top:70px;margin-top:40px" > Ingredients </h3>

          <ul class="ingredients">
            <li *ngFor="let ingredient of recipe.ingredients">
              <h4>{{ ingredient.description }}</h4>   
            </li>
          </ul>

          <div class="w-100">
            <h3 style="text-align: center;color:#638CFF;margin-top:70px" > Steps</h3>
            <table class="recipe-steps">
              <tbody>
                <tr class="step" *ngFor="let step of recipe.steps; index as i">
                    <div class="container">
                      <td class="step-number">{{ i+1 }}</td>
                      <td class="step-description">{{  step.description }}</td>
                    </div>
                  </tr>
                </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- Similar Recipe Section Begin -->
        <!-- TODO -->
      <!-- Similar Recipe Section End -->

    <hr class="m-0" > 
        
    <app-feedback 
      [recipeId]="recipeId" 
      [ratings]="recipe.ratings" 
      [myRating]="recipe.userRating"
      [comments]="recipe.comments"
      >
    </app-feedback>
  
  </div>
</div>
