<mat-sidenav-container
  dir="ltr"
  class="mainWrapper"
  >
<!--  -->
  <!-- ============================================================== -->
  <!-- Vertical Sidebar -->
  <!-- ============================================================== -->

  <mat-sidenav
    #leftsidenav
    [mode]="isOver ? 'over' : 'side'"
    [opened]="!isOver"
    (openedChange)="onSidenavOpenedChange($event)"
    (closedStart)="onSidenavClosedStart()"
  >
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <!-- ============================================================== -->
  <!-- Main Content -->
  <!-- ============================================================== -->
  <mat-sidenav-content (scroll)="onScroll($event)" class="contentWrapper">
    <!-- ============================================================== -->
    <!-- VerticalHeader -->
    <!-- ============================================================== -->
    <app-sidebar [ngClass]="{'hide' : !isOver}"></app-sidebar>
    <main class="pageWrapper">
      <!-- ============================================================== -->
      <!-- Outlet -->
      <!-- ============================================================== -->
      <router-outlet ></router-outlet>
    </main>

  </mat-sidenav-content>
</mat-sidenav-container>