<div class="bg-white" style="margin: 20px;">
  <div class="container">
    <div class="text-center py-5">
      <img src="../../assets/images/profile/user-1.jpg" alt class="ui-w-25 rounded-circle" width="100px">

      <div class="col-md-8 col-lg-6 col-xl-5 p-0 mx-auto">
        <h4 class="font-weight-bold my-4">{{user.firstName + ' ' + user.lastName}}</h4>

        <div class="d-flex justify-content-center">
          <div class="d-inline-block text-dark text-center following">
            <strong>{{user.following}}</strong>
            <span class="text-muted"> Following</span>
          </div>
          <div class="d-inline-block text-dark text-center followers ml-3">
            <strong>{{user.followers}}</strong>
            <span class="text-muted"> Followers</span>
          </div>
        </div>

        <div class="text-center">
          <div style="margin:25px" class="btn btn-secondary btn-sm" [ngClass]="{'btn-success': !user.isFollowed}" (click)="toggleFollow()">
            {{user.isFollowed? 'Following' :  'Follow'}} 
          </div>
        </div>

      </div>
  </div>

  <hr class="m-0"> 

  <div class="reicpes nav nav-tabs tabs-alt justify-content-center">
    <div class="row">
      <div style="width:auto" class="col-sm-6 col-lg-3" *ngFor="let recipe of recipes;index as i" >
        <mat-card class="cardWithShadow productcard overflow-hidden">
          <a routerLink="/recipes/{{recipe.id}}">
            <img
              src="https://localhost:3000/images/{{recipe.imageUrl }}"
              alt="imgSrc"
              class="w-100 card-image"
              mat-card-image
            />
          </a>
  
          <mat-card-content class="p-b-24 p-t-12 position-relative">
            <button
              *ngIf="isLoggedIn()"
              mat-mini-fab
              color="primary"
              class="cart-btn"
              matTooltip="{{recipe.inFavourites? 'Remove from Favourites' : 'Add to Favourite'}}"
              (click)="toggleFav(i)"
            > 
              <i class="pi {{recipe.inFavourites? 'pi-heart-fill' : 'pi-heart'}}"  style="font-size: 1.5rem;margin-top:6px"></i>
            </button>
            
            <mat-card-title class="mat-headline-2 f-s-16 m-b-4">
              {{ recipe.name }}
            </mat-card-title>
            
            <div class="d-flex align-items-center justify-content-between">
              <div class="m-l-auto d-flex gap-4">
                <span
                  ><i-tabler name="star" class="fill-warning icon-18"></i-tabler
                ></span>
                <span
                  ><i-tabler name="star" class="fill-warning icon-18"></i-tabler
                ></span>
                <span
                  ><i-tabler name="star" class="fill-warning icon-18"></i-tabler
                ></span>
                <span
                  ><i-tabler name="star" class="fill-warning icon-18"></i-tabler
                ></span>
                <span
                  ><i-tabler name="star" class="fill-warning icon-18"></i-tabler
                ></span>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      
      <p-paginator (onPageChange)="onPageChange($any($event))" [first]="first" [rows]="rows" [totalRecords]="totalRecords" [rowsPerPageOptions]="[5, 10, 15]"></p-paginator>
  
    </div>
  </div>
</div>